*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboard-cont{
    margin: 3rem auto;
    max-width: 90%; 
    background-color: #fff; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); /* More depth */
    border-radius: 12px;
    border: none;
}
.dashboard-cont header{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
}
.dashboard-icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: x-large;
}

.dashboard-icon img{
    height: 3rem;
}

.dashboard-para{
    font-size: xx-large;
}
.dashboard-login img{
    height: 3rem;
}
.dashboard-cont main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5.1rem 0rem;
}
 
.toolsDash{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    border: 3px solid cyan;
    padding: 2rem 3rem;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px cyan;
    margin-bottom: 4rem;
}
