*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landingNavbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.head-left{
  display: flex;
  gap: 0.5rem;
}
.head-left img{
  height: 2rem;
  width: 2rem;
}
.head-left span{
  font-size: x-large;
}
.head-right{
  display: flex;
  gap: 2rem;
}