*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.landingPage{
  margin: 2rem 3rem;
  background-color: rgb(251, 251, 245);
  padding: 1rem 2rem;
  box-shadow:  0px 0px 8px 0px;
}
.landingNavbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.head-left{
  display: flex;
  gap: 0.5rem;
}
.head-left img{
  height: 2rem;
  width: 2rem;
}
.head-left span{
  font-size: x-large;
}
.head-right{
  display: flex;
  gap: 2rem;
}

.landingMain{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.main-left h1{
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.main-left p{
  margin-bottom: 1.5rem;
  font-size: larger;
}
.main-left button{
  height: 3rem;
  padding: 5px 20px;
  margin-right: 2rem ;
  font-size: larger;
}
.main-right img{
  height: 27rem;
}
#visitorLogin{
  background-color: rgb(94, 138, 234);
  color: white;
  font-weight: bold;
}
#organizerLogin{
  color: rgb(68, 122, 238);
  background-color: white;
  font-weight: bold;
}
